<h3>
    {{!-- <a class="btn btn-secondary" href="/buku"><i class="fa fa-plus"></i> Create New</a>  --}}
    User List
</h3>
<br>
{{email}}
<table class="table table-striped">
    <thead>
        <tr>
            {{!-- <th>Id Buku</th> --}}
            <th>Nama User</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            {{!-- <td>{{this._id}}</td> --}}
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            {{!-- <td>
                <a href="/buku/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/buku/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/admin" style="text-decoration: none"><< Kembali</a>