<h3>{{viewTitle}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            {{!-- <th>No.</th> --}}
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Total Harga</th>
            {{!-- <th></th> --}}
        </tr>
    </thead>
    <tbody>
        {{#each detailKeranjang}}
        <tr>
            {{!-- <td>{{index}}</td> --}}
            <td>{{this.nama}}</td>
            <td>{{this.harga}}</td>
            <td>{{this.jumlah}}</td>
            <td>{{this.subtotal}}</td>
            {{!-- <td>
                <a href="/buku/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/buku/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/" style="text-decoration: none"> << Kembali </a>