<a href="/userLogin" style="text-decoration: none; float:right">{{login}}</a>
<a href="/logout" style="text-decoration: none; float:right">{{logout}}</a>
<h3> {{greeting}}</h3>   
{{!-- <h3>Email anda adalah {{email}}</h3>    --}}

{{!-- <a class='btn btn-secondary' href='/userLogin'><i class='fa fa-plus'></i> Login</a>
<a class='btn btn-secondary' href='/userRegister'><i class='fa fa-plus'></i> Register</a> --}}
{{!-- <a href="/userRegister" style="text-decoration: none">Register</a> --}}
<h3>
    {{title}}
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            {{!-- <th>Id Buku</th> --}}
            <th>Nama Buku</th>
            <th>Author</th>
            <th>Penerbit</th>
            <th>Tahun Terbit</th>
            <th>Jumlah Halaman</th>
            <th>Harga</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            {{!-- <td>{{this._id}}</td> --}}
            <td>{{this.nama}}</td>
            <td>{{this.author}}</td>
            <td>{{this.penerbit}}</td>
            <td>{{this.tahunTerbit}}</td>
            <td>{{this.jumlahHalaman}}</td>
            <td>{{this.harga}}</td>
            <td>
                <a href="/addToCart/{{this._id}}" onclick="return confirm('Are you sure to add this book ?');"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/keranjang" style="text-decoration: none">{{keranjang}}</a> 
<a href="/profile" style="text-decoration: none">{{profile}}</a>    
<a href="/detailRiwayat" style="text-decoration: none">{{riwayat}}</a>    